{% extends 'base.html.twig' %}

{% block title %}New JournalDeBord{% endblock %}

{% block body %}
    <h1>Create new JournalDeBord</h1>

    {{ include('journal_de_bord/_form.html.twig') }}

    <a href="{{ path('journal_de_bord_index') }}">back to list</a>
{% endblock %}
