{% extends 'base.html.twig' %}

{% block body %}
	<div class="globalAjout">
		<div class="titreAjout">
			Page non trouvée
		</div>

		<div class="generalListe">
			La page n'a pas été trouvée ! :(
			<a href="{{ path('connected') }}">Retour vers la case départ</a>.
		<div>
    </div>
{% endblock %}
